body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Playfair Display', serif;
}

#uklon-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#uklon-app * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#uklon-app audio {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

#uklon-app button:active, #uklon-app button:focus {
  outline: none;
}

#uklon-app h2 {
  font-size: 36px;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.652), 0px 0px 3px rgba(255, 255, 255, 0.624);
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}

#uklon-app h2 span {
  font-size: 16px;
  line-height: 48px;
  text-transform: lowercase;
}

@media (max-width: 990px) {
  #uklon-app h2 {
    font-size: 24px;
  }
}

#uklon-app .welcomePage {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #fcd729;
}

#uklon-app .welcomePage .welcomeBg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#uklon-app .welcomePage .logo {
  width: 300px;
  margin-bottom: 16px;
  -webkit-filter: drop-shadow(0 0 4px white);
}

@media (max-width: 990px) {
  #uklon-app .welcomePage .logo {
    width: 280px;
  }
}

#uklon-app .welcomePage button {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.652), 0px 0px 3px rgba(255, 255, 255, 0.624);
  background-color: transparent;
  position: relative;
  border: none;
  font-size: 24px;
  font-weight: 300;
  overflow: hidden;
  padding: 4px 0;
  cursor: pointer;
  color: #fcd729;
}

#uklon-app .welcomePage button:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

#uklon-app .welcomePage button::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #7f0909;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#uklon-app .logoSvg {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  max-width: 50%;
  opacity: 0;
  visibility: hidden;
}

#uklon-app .hidden {
  opacity: 0;
  visibility: hidden;
}

#uklon-app .visible {
  opacity: 1;
  visibility: visible;
}

#uklon-app .removed {
  display: none;
}

#uklon-app .playPage {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

#uklon-app .playPage .playBg {
  width: 100%;
  height: 100%;
}

#uklon-app .playPage .header {
  position: absolute;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 990px) {
  #uklon-app .playPage .header {
    padding: 8px;
  }
}

#uklon-app .playPage .playArea {
  width: 100%;
  position: absolute;
  bottom: 12%;
  left: 0;
  height: 70%;
}

#uklon-app .playPage .resultLogo svg {
  width: 140px;
}

#uklon-app .playPage .result {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 18px;
  position: absolute;
}

@media (max-width: 990px) {
  #uklon-app .playPage .result {
    top: calc(50% + 40px);
  }
}

#uklon-app .playPage .shareButton button {
  background: transparent;
  background-color: #0ED88A;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 8px 24px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  will-change: transform;
}

#uklon-app .playPage .shareButton button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#uklon-app .banner {
  position: absolute;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  cursor: pointer;
  border-radius: 2px;
  will-change: transform;
}

#uklon-app .banner:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 100;
}

#uklon-app .banner:active, #uklon-app .banner:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#uklon-app .bannerSm {
  width: 124px;
}

@media (max-width: 990px) {
  #uklon-app .bannerSm {
    width: 80px !important;
  }
}

#uklon-app .appear {
  -webkit-animation: appear .5s ease;
          animation: appear .5s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#uklon-app .tremor {
  -webkit-animation: tremor 0.1s linear infinite;
          animation: tremor 0.1s linear infinite;
}

#uklon-app .hpBar {
  position: absolute;
  width: 600px;
  height: 8px;
  overflow: hidden;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.604);
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#uklon-app .hpBar .hpBarInner {
  width: 100%;
  height: 100%;
  background-color: #a50404;
  -webkit-transition: .2s all ease;
  transition: .2s all ease;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes tremor {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes tremor {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  33% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  66% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.boss {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  width: 400px;
}

.boss img {
  width: 100%;
}

.bossAppear {
  -webkit-animation: bossAppear 2s ease;
          animation: bossAppear 2s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bossText {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  width: 460px;
  -webkit-animation: textAppear .5s ease;
          animation: textAppear .5s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  left: calc(50% + 20px);
  top: calc(50% - 20px);
}

.bossText2 {
  left: -50%;
  top: calc(50% - 100px);
}

@-webkit-keyframes textAppear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.textDestroy {
  -webkit-animation: textDestroy .3s ease;
          animation: textDestroy .3s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.textAppear {
  -webkit-animation: textAppear .3s ease;
          animation: textAppear .3s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.bossTrigger {
  -webkit-animation: bossTrigger .5s ease;
          animation: bossTrigger .5s ease;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 24px));
          transform: translateX(calc(-50% - 24px));
}

.key__button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 80px;
  font-size: 22px;
  width: 40px;
  color: #555;
  cursor: pointer;
  margin: 0 8px;
  height: 40px;
  border-color: #f2f2f2;
  border-style: solid;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  border-width: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #D2D2D2 80%, #c0c0c0 100%);
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.15s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.15s ease;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  transition: box-shadow 0.3s ease, transform 0.15s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.15s ease;
  -webkit-box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
          box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #C0C0C0, 0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25), -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.key__button:hover, .key__button:focus {
  -webkit-box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
          box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #C0C0C0, 0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  -webkit-transform: translateY(calc($key-translate + 2px));
          transform: translateY(calc($key-translate + 2px));
}

.key__button:active {
  -webkit-box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
          box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25), -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  -webkit-transform: translateY(calc($key-translate + 4px));
          transform: translateY(calc($key-translate + 4px));
}

.key__button img {
  opacity: 0.2;
}

.arrow {
  width: 60%;
  height: 60%;
}

.key__button {
  will-change: tranform;
}

.key__button--1 {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-animation: key1 1.2s ease infinite;
          animation: key1 1.2s ease infinite;
}

.key__button--2 {
  -webkit-transform: translate(105%, 130%);
          transform: translate(105%, 130%);
  -webkit-animation: key2 1.2s ease infinite;
          animation: key2 1.2s ease infinite;
}

.key__button--3 {
  -webkit-transform: translate(-105%, 130%);
          transform: translate(-105%, 130%);
  -webkit-animation: key3 1.2s ease infinite;
          animation: key3 1.2s ease infinite;
}

.key__button--4 {
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  -webkit-animation: key4 1.2s ease infinite;
          animation: key4 1.2s ease infinite;
}

.arrow--1 {
  -webkit-transform: rotate(90deg) scaleY(0.9);
          transform: rotate(90deg) scaleY(0.9);
}

.arrow--2 {
  -webkit-transform: rotate(180deg) scaleY(0.9);
          transform: rotate(180deg) scaleY(0.9);
}

.arrow--3 {
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
}

.arrow--4 {
  -webkit-transform: rotate(270deg) scaleY(0.9);
          transform: rotate(270deg) scaleY(0.9);
}

@-webkit-keyframes textDestroy {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes textDestroy {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bossAppear {
  from {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  to {
    -webkit-transform: translate(-50%, calc(50vh - 200px));
            transform: translate(-50%, calc(50vh - 200px));
  }
}

@keyframes bossAppear {
  from {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
  to {
    -webkit-transform: translate(-50%, calc(50vh - 200px));
            transform: translate(-50%, calc(50vh - 200px));
  }
}

@-webkit-keyframes bossTrigger {
  from {
    -webkit-transform: translate(-50%, calc(50vh - 200px));
            transform: translate(-50%, calc(50vh - 200px));
  }
  to {
    -webkit-transform: translate(-50%, calc(50vh - 100px)) scale(1.3);
            transform: translate(-50%, calc(50vh - 100px)) scale(1.3);
  }
}

@keyframes bossTrigger {
  from {
    -webkit-transform: translate(-50%, calc(50vh - 200px));
            transform: translate(-50%, calc(50vh - 200px));
  }
  to {
    -webkit-transform: translate(-50%, calc(50vh - 100px)) scale(1.3);
            transform: translate(-50%, calc(50vh - 100px)) scale(1.3);
  }
}

@-webkit-keyframes key1 {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes key1 {
  0% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes key2 {
  0% {
    -webkit-transform: translate(105%, 130%);
            transform: translate(105%, 130%);
  }
  50% {
    -webkit-transform: translate(105%, 110%);
            transform: translate(105%, 110%);
  }
  100% {
    -webkit-transform: translate(105%, 130%);
            transform: translate(105%, 130%);
  }
}

@keyframes key2 {
  0% {
    -webkit-transform: translate(105%, 130%);
            transform: translate(105%, 130%);
  }
  50% {
    -webkit-transform: translate(105%, 110%);
            transform: translate(105%, 110%);
  }
  100% {
    -webkit-transform: translate(105%, 130%);
            transform: translate(105%, 130%);
  }
}

@-webkit-keyframes key3 {
  0% {
    -webkit-transform: translate(-105%, 130%);
            transform: translate(-105%, 130%);
  }
  50% {
    -webkit-transform: translate(-105%, 110%);
            transform: translate(-105%, 110%);
  }
  100% {
    -webkit-transform: translate(-105%, 130%);
            transform: translate(-105%, 130%);
  }
}

@keyframes key3 {
  0% {
    -webkit-transform: translate(-105%, 130%);
            transform: translate(-105%, 130%);
  }
  50% {
    -webkit-transform: translate(-105%, 110%);
            transform: translate(-105%, 110%);
  }
  100% {
    -webkit-transform: translate(-105%, 130%);
            transform: translate(-105%, 130%);
  }
}

@-webkit-keyframes key4 {
  0% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  50% {
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
  }
  100% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
}

@keyframes key4 {
  0% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  50% {
    -webkit-transform: translateY(140%);
            transform: translateY(140%);
  }
  100% {
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
}
/*# sourceMappingURL=styles.css.map */