body {
  padding: 0;
  margin: 0;
}

 * {
  font-family: 'Playfair Display', serif;
 }

#uklon-app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;

  * {
    box-sizing: border-box;
  }

  audio {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  button {
    &:active, &:focus {
      outline: none;
    }
  }
  //test

  h2 {
    font-size: 36px;
    text-shadow:
    0px 0px 3px rgba(255, 255, 255, 0.652),
    0px 0px 3px rgba(255, 255, 255, 0.624);
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    text-align: center;

    text-transform: uppercase;

    span {
      font-size: 16px;
      line-height: 48px;
      text-transform: lowercase;
    }

    @media(max-width: 990px) {
      font-size: 24px;
    }
  }

  .welcomePage {
    transition: .5s all ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    color: #fcd729;

    .welcomeBg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    
    .logo {
      width: 300px;
      margin-bottom: 16px;
      -webkit-filter: drop-shadow(0 0 4px rgb(255, 255, 255));
      @media(max-width: 990px) {
        width: 280px;
      }
    }

    button {
      text-shadow:
      0px 0px 3px rgba(255, 255, 255, 0.652),
      0px 0px 3px rgba(255, 255, 255, 0.624);
      background-color: transparent;
      position: relative;
      border: none;
      font-size: 24px;
      font-weight: 300;
      overflow: hidden;
      padding: 4px 0;
      cursor: pointer;
      color: #fcd729;

      &:hover {
        &::before {
          transform: scaleX(1);
          transform-origin: left center;
        }
      }

      &::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #7f0909;
        transition-property: transform;
        transition-duration: 0.35s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transform-origin: right center;
        transform: scaleX(0);
      }
    }
  }

  .logoSvg {
    transition: .5s all ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 50%;
    opacity: 0;
    visibility: hidden;
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }

  .removed {
    display: none;
  }

  .playPage {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    transition: .4s all ease;

    .playBg {
      width: 100%;
      height: 100%;     
    }

    .header {
      position: absolute;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;

      @media(max-width: 990px) {
        padding: 8px;
      }
    }

    .playArea {
      width: 100%;
      position: absolute;
      bottom: 12%;
      left: 0;
      height: 70%;
    }

    .resultLogo {
      svg {
        width: 140px;
      }
    }

    .result {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-weight: 300;
      font-size: 18px;
      position: absolute;

      @media(max-width: 990px) {
        top: calc(50% + 40px);
      }
    }

    .shareButton {
      button {
        background: transparent;
        background-color: #0ED88A;
        color: #fff;
        border: none;
        font-size: 16px;
        padding: 8px 24px;
        cursor: pointer;
        transition: .3s all ease;
        will-change: transform;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }

  .banner {
    position: absolute;
    transition: .3s all ease;
    cursor: pointer;
    border-radius: 2px;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
      z-index: 100;
    }

    &:active, &:focus {
      transform: scale(0.95);
    }
  }

  .bannerSm {
    width: 124px;
    @media(max-width: 990px) {
      width: 80px !important;
    }
  }

  .appear {
    animation: appear .5s ease;
    animation-iteration-count: 1;
  }

  .tremor {
    animation: tremor 0.1s linear infinite;
  }

  .hpBar {
    position: absolute;
    width: 600px;
    height: 8px;
    overflow: hidden;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.604);

    left: 50%;
    bottom: 40px;

    transform: translateX(-50%);

    .hpBarInner {
      width: 100%;
      height: 100%;
      background-color: rgb(165, 4, 4);
      transition: .2s all ease;
    }
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.5);
    }

    70% {
      transform: scale(1.2);
    }

    to {
      opacity: 1;
    }
  }

  @keyframes tremor {
    from {
      transform: rotate(0);
    }

    33% {
      transform: rotate(3deg);
    }

    66% {
      transform: rotate(-3deg);
    }

    to {
      transform: rotate(0);
    }
  }



}

